<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>900MHz</title>

        <script src="socket.io-client/dist/socket.io.js"></script>

        <script src="/bootstrap.js"></script>

        <script src="/bootstrap.min.js"></script>

        <script src="/p5/lib/p5.js"></script>

        <link href="/bootstrap.css" rel="stylesheet">
        <link href="style/layout.css" rel="stylesheet">

    </head>
    <body>
        <div className="container-fluid ">

            <div class="row">
                <h1 class="text-center text-light mt-5 mb-5">900 MHz</h1>
            </div>

            <div class="row  justify-content-center" style="height: 10vh;">
                <div class="col-1" >
                    <img src="/media/1.png" class="seg1 display">
                    <img src="/media/2.png" class="seg1 display">
                    <img src="/media/3.png" class="seg1 display">
                    <img src="/media/4.png" class="seg1 display">
                    <img src="/media/5.png" class="seg1 display">
                    <img src="/media/6.png" class="seg1 display">
                    <img src="/media/7.png" class="seg1 display">
                </div>
                <div class="col-1">
                    <img src="/media/1.png" class="display">
                    <img src="/media/2.png" class="display">
                    <img src="/media/3.png" class="display">
                    <img src="/media/4.png" class="display">
                    <img src="/media/5.png" class="display">
                    <img src="/media/6.png" class="display">
                    <img src="/media/7.png" class="display">
                </div>

                <div class="col-1">
                    <img src="/media/1.png" class="display">
                    <img src="/media/2.png" class="display">
                    <img src="/media/3.png" class="display">
                    <img src="/media/4.png" class="display">
                    <img src="/media/5.png" class="display">
                    <img src="/media/6.png" class="display">
                    <img src="/media/7.png" class="display">
                </div>

                <div class="col-1">
                    <img src="/media/1.png" class="display">
                    <img src="/media/2.png" class="display">
                    <img src="/media/3.png" class="display">
                    <img src="/media/4.png" class="display">
                    <img src="/media/5.png" class="display">
                    <img src="/media/6.png" class="display">
                    <img src="/media/7.png" class="display">
                </div>

                <div class="col-1">
                    <img src="/media/1.png" class="display">
                    <img src="/media/2.png" class="display">
                    <img src="/media/3.png" class="display">
                    <img src="/media/4.png" class="display">
                    <img src="/media/5.png" class="display">
                    <img src="/media/6.png" class="display">
                    <img src="/media/7.png" class="display">
                </div>

                <div class="col-1">
                    <img src="/media/1.png" class="display">
                    <img src="/media/2.png" class="display">
                    <img src="/media/3.png" class="display">
                    <img src="/media/4.png" class="display">
                    <img src="/media/5.png" class="display">
                    <img src="/media/6.png" class="display">
                    <img src="/media/7.png" class="display">
                </div>

                <div class="col-1">
                    <img src="/media/1.png" class="display">
                    <img src="/media/2.png" class="display">
                    <img src="/media/3.png" class="display">
                    <img src="/media/4.png" class="display">
                    <img src="/media/5.png" class="display">
                    <img src="/media/6.png" class="display">
                    <img src="/media/7.png" class="display">
                </div>

            </div>

            <div class="row ">
                <div class="col-12 CanvasParent "></div>
            </div>


            <div class="row mt-5 justify-content-center">
                <input
                    class='col-6  btn btn-outline-light'
                    type='button'
                    value='Send'
                    onClick="SendValue()" />
            </div>



            <!-- //MARK: Test Button -->
        
            <!-- <div class="row mt-5">
                <div class="send_value text-center text-light">send [Send_MSG] :
                    0</div>
            </div> -->

            <div class="row mt-3">
                <div class="socket_value text-center text-light">receive [Get_MSG] :
                    0</div>
            </div>
<!-- 
            <div class="row m-3">
                <input
                    class='  btn btn-outline-light'
                    type='button'
                    value='send random value to [Send_MSG]'
                    onClick="SendTestValue()" />
            </div> -->

            

        </div>

        <script src="/js/main.js"></script>

        <script>

            let socket;

            socket = io.connect("http://huang.us-east-1.elasticbeanstalk.com:8080");   
                
            socket.on('Get_MSG', (msg) => {
                document.querySelector('.socket_value').innerHTML = "get [Get_MSG] : " + msg;
            })
        


            function SendTestValue(){
                let value = Math.floor(Math.random() * 10000000);
                document.querySelector('.send_value').innerHTML = "send [Send_MSG] : " + value;
                socket.emit('Send_MSG', value);
                console.log(value.toString()[0]);
                
            }


            function SendValue(){
                let value = segmentStates.toString();;
                
                socket.emit('Send_MSG', value);
            }

        </script>
    </body>
</html>