<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>900Hz console</title>

        <script src="socket.io-client/dist/socket.io.js"></script>

        <script src="/bootstrap.js"></script>

        <script src="/bootstrap.min.js"></script>

        <link href="/bootstrap.css" rel="stylesheet">
        <link href="style/layout.css" rel="stylesheet">

    </head>

    <body>
        <div className="container-fluid bg-dark">

            <div class="row">
                <h1 class="text-center text-light mt-5 mb-5">900hz Socket
                    test</h1>
            </div>

        </div>

        <div class="row m-3">
            <input type="text" class="input_value" id>
        </div>

        <div class="row m-3">
            <input
                class='  btn btn-outline-light'
                type='button'
                value='connect custom IP'
                onClick="SocketCustomConnect()" />
        </div>

        <div class="row m-3">
            <input
                class='  btn btn-outline-light'
                type='button'
                value='connect https : 443'
                onClick="HTTPSConnect()" />
        </div>

        <div class="row m-3">
            <input
                class='  btn btn-outline-light'
                type='button'
                value='connect http : 443'
                onClick="HTTPConnect()" />
        </div>

        <div class="row mt-5">
            <div class="send_value text-center text-light">send [chat event] :
                0</div>
        </div>

        <div class="row mt-3">
            <div class="socket_value text-center text-light">get [get event] :
                0</div>
        </div>

        <div class="row m-3">
            <input
                class='  btn btn-outline-light'
                type='button'
                value='send random value to [chat event]'
                onClick="SendValue()" />
        </div>

        <script>
            let socket;
            SocketConnect();

            function SocketCustomConnect(){
                let IP = document.querySelector('.input_value').value;
                console.log(IP); 
                socket = io.connect(IP);   
                
                socket.on('get', (msg) => {
                    document.querySelector('.socket_value').innerHTML = "get [get event] : " + msg;
                    
                })
            }

            function HTTPSConnect(){
                console.log('https://huang.us-east-1.elasticbeanstalk.com:443'); 
                socket = io.connect("https://huang.us-east-1.elasticbeanstalk.com:443");  
                
                socket.on('get', (msg) => {
                    document.querySelector('.socket_value').innerHTML = "get [get event] : " + msg;
                    
                })
            }


            function HTTPConnect(){
                console.log('http://huang.us-east-1.elasticbeanstalk.com:443'); 
                socket = io.connect("http://huang.us-east-1.elasticbeanstalk.com:443");  
                
                socket.on('get', (msg) => {
                    document.querySelector('.socket_value').innerHTML = "get [get event] : " + msg;
                    
                })
            }


            function SendValue(){
                let value = Math.floor(Math.random() * 100);
                document.querySelector('.send_value').innerHTML = "send [chat event] : " + value;
                socket.emit('chat', value);
            }


        </script>
    </body>
</html>